<%- include('partials/_header') %>
<%- include('partials/_navbar') %>


<div class="fondoIMG">
    <div class="fondoloco">
    
    <div class="imgComicLEFT">
    <a href="<%- data[0].referencia %>">
      <img src="<%- data[0].ruta_imagen %>">
    </a>
    

    
    </div>
    <div class="prueba">
      <h2><%- data[0].titulo %></h2>
      <p class="texto_preview">
        <%- data[0].sinopsis %>
      </p>
    
    </div>
    </div>
</div>
  





</body>
</html>

















<%- include('partials/_footer') %>